<div class="main_container">
    <div class="logo">
        <img src="~/image/logo.jpg" class="img_logo" />
    </div>
    <div class="name_messege">
        <p class="text_name">LOREMGRAM</p>
    </div>
    <div class="description">
        <p class="text_des">
            Loremgam - a simple and secure messaging app. You can also organize multi-user groups and channels.
        </p>
    </div>
    <div class="choose_but">
        <div class="button_login"><button class="btnlogin">@Html.ActionLink("Log in", "Index", "Login")</button></div>
        <div class="button_login"><button class="btn_reg"> @Html.ActionLink("registration", "Index", "Regis")</button></div>
    </div>
</div>
