@Styles.Render("~/Content/Chat.css")
<div class="fixed_menu">
    <div class="main_menu">
        <div class="menu_list">
            <button class="text_menu">&#9776;</button>
        </div>
        <div class="search">
            <input class="inpt_search" type="text" placeholder="Search..">
        </div>
    </div>
    <div class="head_chat">
        <div class="photo_friend">
            @*<p>@person.Photo</p>*@
        </div>
        <div class="name_status">
            <div class="name">
                @*<p>@person.Name</p>*@
            </div>
            <div class="status">
                @*<p>@person.Status</p>*@
            </div>
        </div>
        <div class="call">
            <img src="~/image/call.png" class="call_icone" />
        </div>
        <div class="more_action">
            <img src="~/image/dots.png" class="more_icone" />
        </div>
    </div>
</div>
<div class="main_container">
    <div class="list_friend">

    </div>
    <div class="chat">

    </div>
</div>

@*<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item active" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>*@

@*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </body>*@
</html>
